@charset "utf8-8"
    /{
        margin: 0px;
        padding: 0px:
    }
h1{
    font:bold 20px Verdana, Geneva, sans-serif;
    color:red;
}
h2{
    font: :bold 14px Verdana,Geneva, sans-serif;
}
body{
    text-align: center;
}
#cuerpo{
    width: 960px;
    margin: 15px auto;
    text-align: left;
    background-color: burlywood;
}
#encabezado{
    background-color: cyan;
    border: 1px solid #999999;
    
}

#menu{
    background-color:burlywood;
    height: 50px;
    width: 100%;
}

#contenedor{
    float: left;
    width: 100%;
    height: 500px;
    background-color: dimgrey;
}
#seccion{
    float: left;
    width: 70%;
    height: 500px;
    background-color: darkgray;
}
#lateral{
    float: right;
    width: 30%;
    height: 500px;
    background:#cccccc ;
}
#pie{
    clear: both;
    text-align: center;
    padding: 100px;
    border: top:px solid #999999;
    background-color: silver;
}
li{
    float: left;
    width: auto;
}
li a{
    color: black;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    padding: 12px;
    line-height: normal;
    display: inline-block;

}
#p:hover{
    
    background-color: green;
    
}

#contenedorMenu{
    float: left;
    height: 40px;
    width: 100%;
    background-color: dimgrey;
    padding: top;
}
ul{
    list-style: none;
}